---
import Layout from '../layouts/Layout.astro'
---

<Layout title="LIC - ¿Quiénes somos?">
  <div class="max-w-5xl p-3 m-auto">
    <h1 class="text-6xl font-bold text-green-600">GUÍA PARA LA GENERACIÓN DE INDICADORES CULTURALES RED QUINCHO Y ESPACIOS CULTURALES INDEPENDIENTES</h1>

    <h2 class="text-2xl text-center uppercase mt-12 mb-5 font-bold">¿Qué son los indicadores culturales y para qué?</h2>
    <p class="my-2">Esta plataforma existe para relevar datos de las residencias de arte de la red Quincho a través de distintos cuestionarios, que pueden también adaptarse a otras redes y proyectos que los precisen.</p>
    <p class="my-2">Los indicadores culturales son herramientas de medición de la incidencia y performance de los proyectos culturales.</p>
    <p class="my-2">A través de estas herramientas se puede identificar diferentes aspectos cuantitativos y cualitativos, y relevar el accionar cultural de las organizaciones, sus gestorxs, sus participantes y sus públicos y audiencias, así como de sus impactos en contextos y territorios.</p>
    <p class="my-2">Los indicadores también visibilizan la articulación entre los distintos actores intervinientes; ambiente-territorio, artistas, producción simbólica, comunidad, circuito artístico.</p>
    <p class="my-2">Los indicadores permiten así revisar el trabajo realizado y fortalecer los ecosistemas culturales de gestión independiente, dando visibilidad al aporte de los proyectos existentes, propiciando diálogos con el sector público, privado y del tercer sector.</p>

    <h2 class="text-4xl font-bold text-center mt-32 mb-5 text-green-600">CATEGORÍAS</h2>
    <!-- <p class="mt-2 mb-5 font-bold">Elaboramos estas encuestas a partir de cuatro categorías que se consideran  relevantes en la gestión y la incidencia en el trabajo de residencias y residentes.</p> -->
    <div class="grid grid-cols-1 gap-5 mb-10">
      <div>
        <h3 class="text-2xl text-center mb-2 font-bold">RESONANCIA CULTURAL</h3>
        <p class="my-2">En el marco de los proyectos culturales y las residencias de arte, las resonancias culturales (producciones y procesos artísticos o culturales) son construcciones de lenguaje que transforman el territorio y la geografía humana.</p>
        <p class="my-2">Estas redes de signos contribuyen a su vez con los procesos comunitarios y estos materializan una persistencia en la memoria individual y colectiva, en y más allá del acontecimiento.
        Las dinámicas de las residencias se diferencian de las lógicas mercantilistas del circuito artístico al propiciar un manejo singular del tiempo y de los procesos de producción y difusión.</p>
        <p class="my-2">Las cinco variables de las resonancias culturales incluyen a las materias de expresión, lenguajes, tecnologías, temáticas, niveles relacionales y expansivos.</p>
      </div>

      <div>
        <h3 class="text-2xl text-center mb-2 font-bold">GESTIÓN</h3>
        <p class="my-2">La gestión cultural es un trabajo de interpretación y escucha del territorio situado, que piensa, diseña, crea, desarrolla  proyectos y acciones que dialogan con la comunidad.</p>
        <p class="my-2">Gestionar implica la creación de puentes de pensamiento y reflexión, que se materializan en escenarios posibles activando mecanismos de participación, que favorezcan la producción de políticas culturales vinculadas a las prácticas sensibles y las nuevas formas de habitar.</p>
        <p class="my-2">Desde esta perspectiva nos hacemos preguntas referidas a los procesos de gestión, financiamiento, vinculación y comunicación de las Residencias / Proyectos Culturales </p>
      </div>

      <div>
        <h3 class="text-2xl text-center mb-2 font-bold">COMUNIDADES</h3>
        <p class="my-2">Las residencias y proyectos culturales establecen vínculos situados en comunidades con sus valores y modos de percibir las prácticas de sus integrantes. El sentido de las acciones y saberes compartidos explícita o implícitamente se manifiestan en la participación individual y social. Al considerar que existe una incipiente vinculación de las residencias con la población local, surge la posibilidad de trabajar con niñeces y juventudes para descentralizar los procesos artísticos y culturales de la mirada adultocentrista.</p>
      </div>

      <div>
        <h3 class="text-2xl text-center mb-2 font-bold">CULTURA AMBIENTAL</h3>
        <p class="my-2">Considerando la crisis climática y ecológica actual, resulta pertinente incentivar una cultura ambiental que minimice el impacto negativo de la actividad humana sobre el entorno. En el marco de las residencias y proyectos culturales, creemos necesario visibilizar y abordar las problemáticas ambientales y generar acciones que aporten a la construcción de una cultura de cuidado ambiental.</p>
      </div>
    </div>
  </div>
</Layout>