---
import Layout from '../layouts/Layout.astro'
import Vector from '../assets/vector.svg'
---

<Layout title="LIC - Declaración de principios">
  <div class="max-w-5xl p-3 m-auto relative">
      <img src={Vector} class="opacity-40 w-1/2 md:w-3/6 absolute top-24 left-0 m-auto right-0 -z-10" alt="">
      <h1 class="text-4xl font-bold mt-32 mb-10 text-center">DECLARACIÓN DE PRINCIPIOS PARA LA GESTIÓN CULTURAL</h1>
      <dir class="text-center">
        <p class="my-2">Re-definir los modos de hacer implica abrir espacios constructivos que habilitarían el tránsito entre lo agenciado tradicionalmente desde sus tareas específicas y lo que acontece, sucede, intuitivamente, azarosamente. Sucede el manifiesto de lo sensible.</p>
        <p class="my-2">Leer lo “manifiesto” a partir de los vínculos que dichos encuentros establecen en territorio, nos permite determinar indicadores que la gestión cultural expande, desde prácticas artísticas que traducen las nuevas formas de habitar.</p>
        <p class="my-2">Consideramos oportuno proponer el ejercicio de agremiar miradas transdisciplinares que  re-definan a la gestión cultural, desde el impacto que sus variables conforman, poniendo en valor el total de sus capacidades a la hora de acompañar y desarrollar residencias, en clave socio-comunitaria, situada, territorial.</p>
        <p class="my-2">Si se determinan indicadores culturales basados en categorías orientadas a una constelación residencia-contexto-experiencia, es posible generar un espacio que retome la gestión cultural desde su capacidad empática, en pos de potenciar el desarrollo de prácticas situadas que iluminen otros escenarios comprometidos con un buen vivir.</p>
      </dir>
  </div>
</Layout>

<style>
  img {
    animation: rotation 20s infinite linear;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>