---
import Layout from '../layouts/Layout.astro'
import HourglassPink from '/assets/hourglass-pink.svg'
---

<Layout title="Indicadores Culturales - Instrucciones de uso">
  <div class="max-w-5xl p-3 m-auto relative">
    <img src={HourglassPink} class="w-50 fixed top-0 left-0 m-auto right-0 -z-10" alt="">
    <h1 class="text-3xl md:text-5xl font-bold mt-10 md:mt-32 mb-10 m-auto text-center">¡Encontraste un Easter Egg!</h1>
      <div class="text-center text-xl mb-12">
        <p class="my-10">Desarrollado por <a href="https://nicmotta.github.io/" class="font-bold p-1 rounded hover:bg-black hover:text-white">Nic Motta</a></p>
        <a class="text-sm font-bold border-2 border-black rounded-md p-1 bg-black hover:bg-transparent hover:text-black text-white" href="/">VOLVER AL INICIO</a>
      </div>

  </div>
</Layout>