---
import Layout from '../layouts/Layout.astro'
import ArrowDown from '/assets/arrow-down.svg'
import VectorYellow from '/assets/vector-yellow.svg'
---

<Layout title="Indicadores Culturales - Home">
  <div class="max-w-5xl p-3 m-auto">
      <img id="background" src={VectorYellow} class="absolute top-48 left-0 m-auto right-0 -z-10" alt="">
      <h1 class="text-6xl font-semibold mt-32 text-center">INDICADORES CULTURALES</h1>
      <h2 class="text-5xl font-extrabold mb-10 text-center">RED QUINCHO</h2>
      <h3 class="text-2xl text-left uppercase mt-12 mb-5 font-bold">¿Qué son los <span class="font-extrabold">indicadores culturales</span> y para qué?</h3>
      <div class="text-left mb-12">
        <p class="my-2">Esta plataforma existe para relevar datos de las residencias de arte de la <span class="font-bold">RED QUINCHO</span> a través de distintos cuestionarios, que pueden también adaptarse a otras redes y proyectos que los precisen.</p>
        <p class="my-2 font-semibold">Los indicadores culturales son herramientas de medición de la incidencia y performance de los proyectos culturales.</p>
        <p class="my-2">A través de estas herramientas se puede identificar diferentes aspectos cuantitativos y cualitativos, y relevar el accionar cultural de las organizaciones, sus gestorxs, sus participantes y sus públicos y audiencias, así como de sus impactos en contextos y territorios.</p>
        <p class="my-2">Los indicadores también visibilizan la articulación entre los distintos actores intervinientes; ambiente-territorio, artistas, producción simbólica, comunidad, circuito artístico.</p>
        <p class="my-2 mb-10">Los <span class="font-bold">indicadores</span> permiten así revisar el trabajo realizado y fortalecer los ecosistemas culturales de gestión independiente, dando visibilidad al aporte de los proyectos existentes, propiciando diálogos con el sector público, privado y del tercer sector.</p>
        <a class="font-bold border-2 border-black rounded-md p-1 bg-black hover:bg-white hover:text-black text-white" target="_blank" href="https://redquincho.ar/">Ir a RED QUINCHO</a>
      </div>
  </div>
  <!-- <a href="/categorias">
    <p class="absolute bottom-2 right-0 left-0 text-2xl font-bold text-center">CATEGORÍAS</p>
    <img src={ArrowDown} class="absolute bottom-10 right-0 left-0 m-auto w-16 animate-bounce"/>
  </a> -->
</Layout>

<style>
  #background {
    animation: rotation 20s infinite linear;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>