---
import Layout from '../layouts/Layout.astro'
import HourglassInvert from '/assets/hourglass-invert.svg'
---

<Layout title="Indicadores Culturales - Instrucciones de uso">
  <div class="max-w-5xl p-3 m-auto relative">
    <img src={HourglassInvert} class="w-50 fixed top-0 left-0 m-auto right-0 -z-10" alt="">
    <h1 class="text-3xl md:text-5xl font-bold mt-10 md:mt-32 mb-10 m-auto text-center">INSTRUCCIONES DE USO</h1>
      <div class="text-left mb-12">
        <p class="my-2">Estas encuestas tienen como propósito relevar el estado de situación actual de las residencias de arte y de la Red Quincho. Hay dos encuestas, una orientada a la red de residencias y otra a los artistas, investigadores, gestores, curadores que van participando en los programas de las residencias.</p>
        <p class="my-2">La encuesta a los residencias es un requisito asumido por los miembros de Quincho.</p>
        <p>Repitiendo la misma encuesta regularmente <span class="my-2 font-semibold hover:bg-black hover:text-white p-1 rounded-md">cada 12 meses cotejaremos el estado de situación</span> de cada residencia y de la red.</p>
        <p>Estos datos sirven para pensar colectivamente los aspectos que son importantes para mejorar y crecer como residencias de arte, como red y como comunidad.</p>
        <p class="my-2 mb-10">La encuesta a lxs residentes tiene como propósito relevar los alcances del proceso de trabajo ocurrido durante la residencia.</p>

        <div class="grid grid-cols-2 gap-10 mt-10 text-center text-base md:text-lg">
          <a class="font-bold border-2 border-black rounded-md p-1 bg-black hover:bg-transparent hover:text-black text-white" href="/formulario-residencias">PROYECTO CULTURAL / RESIDENCIA</a>
          <a class="font-bold border-2 border-black rounded-md p-1 bg-black hover:bg-transparent hover:text-black text-white" href="/formulario-residentes">PARTICIPANTE / RESIDENTE</a>
        </div>
      </div>

      <div class="max-w-5xl p-3 m-auto">
        <h1 class="text-3xl md:text-5xl font-bold mt-32 text-center">CATEGORÍAS</h1>
        <h3 class="text-lg text-center mt-5 mb-5">Elaboramos estas encuestas a partir de cuatro categorías que se consideran  relevantes en la gestión y la incidencia en el trabajo de residencias y residentes.</h3>
        <div class="grid divide-y divide-black mx-auto mt-8 rounded-lg">
          <div class="py-5">
            <details class="group">
              <summary class="flex justify-between items-center font-medium cursor-pointer list-none group-open:true">
                <span class="font-bold">RESONANCIA CULTURAL</span>
                <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                  </svg>
                </span>
              </summary>
              <p class="mt-3 group-open:animate-fadeIn">
                En el marco de los proyectos culturales y las residencias de arte, las resonancias culturales (producciones y procesos artísticos o culturales) son construcciones de lenguaje que transforman el territorio y la geografía humana.
              </p>
              <p class="mt-3 group-open:animate-fadeIn">
                Estas redes de signos contribuyen a su vez con los procesos comunitarios y estos materializan una persistencia en la memoria individual y colectiva, en y más allá del acontecimiento.
                Las dinámicas de las residencias se diferencian de las lógicas mercantilistas del circuito artístico al propiciar un manejo singular del tiempo y de los procesos de producción y difusión.
              </p>
              <p class="mt-3 group-open:animate-fadeIn">
                Las cinco variables de las resonancias culturales incluyen a las materias de expresión, lenguajes, tecnologías, temáticas, niveles relacionales y expansivos.
              </p>
            </details>
          </div>

          <div class="py-5">
            <details class="group">
              <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                <span class="font-bold">COMUNIDADES</span>
                <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                  </svg>
                </span>
              </summary>
              <p class="mt-3 group-open:animate-fadeIn">
                Las residencias y proyectos culturales establecen vínculos situados en comunidades con sus valores y modos de percibir las prácticas de sus integrantes. El sentido de las acciones y saberes compartidos explícita o implícitamente se manifiestan en la participación individual y social. Al considerar que existe una incipiente vinculación de las residencias con la población local, surge la posibilidad de trabajar con niñeces y juventudes para descentralizar los procesos artísticos y culturales de la mirada adultocentrista.
              </p>
            </details>
          </div>

          <div class="py-5">
            <details class="group">
              <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                <span class="font-bold">CULTURA AMBIENTAL</span>
                <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"     viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                  </svg>
                </span>
              </summary>
              <p class="mt-3 group-open:animate-fadeIn">
                Considerando la crisis climática y ecológica actual, resulta pertinente incentivar una cultura ambiental que minimice el impacto negativo de la actividad humana sobre el entorno. En el marco de las residencias y proyectos culturales, creemos necesario visibilizar y abordar las problemáticas ambientales y generar acciones que aporten a la construcción de una cultura de cuidado ambiental.
              </p>
            </details>
          </div>

          <div class="py-5">
            <details class="group">
              <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                <span class="font-bold">GESTIÓN</span>
                <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                  </svg>
                </span>
              </summary>
              <p class="mt-3 group-open:animate-fadeIn">
                La gestión cultural es un trabajo de interpretación y escucha del territorio situado, que piensa, diseña, crea, desarrolla proyectos y acciones que dialogan con la comunidad.
              </p>
              <p class="mt-3 group-open:animate-fadeIn">
                Gestionar implica la creación de puentes de pensamiento y reflexión, que se materializan en escenarios posibles activando mecanismos de participación, que favorezcan   la producción de políticas culturales vinculadas a las prácticas sensibles y las nuevas formas de habitar.
              </p>
              <p class="mt-3 group-open:animate-fadeIn">
                Desde esta perspectiva nos hacemos preguntas referidas a los procesos de gestión, financiamiento, vinculación y comunicación de las Residencias / Proyectos Culturales.
              </p>
            </details>
          </div>
        </div>
      </div>
  </div>
</Layout>