---
import Layout from '../layouts/Layout.astro'
import VectorYellow from '/assets/vector-yellow.svg'
---

<Layout title="Indicadores Culturales - Buenas prácticas">
  <div class="max-w-5xl p-3 m-auto relative">
    <img id="background" src={VectorYellow} class="absolute top-48 w-64 md:w-1/3 left-0 m-auto right-0 -z-10" alt="">
      <h1 class="text-3xl md:text-5xl font-semibold mt-32 mb-2 text-center">NOSOTRES</h1>
      <h2 class="text-xl md:text-4xl font-extrabold mb-10 text-center">¿CÓMO NACIÓ EL PROYECTO?</h2>
      <p class="my-2 text-red-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere morbi leo urna molestie. Facilisis mauris sit amet massa vitae tortor condimentum. Et malesuada fames ac turpis egestas integer. Eget mauris pharetra et ultrices neque ornare aenean euismod.</p>
      <p class="my-2 text-red-500">Vitae auctor eu augue ut lectus arcu bibendum at varius. Non quam lacus suspendisse faucibus. In metus vulputate eu scelerisque felis imperdiet proin. Consectetur adipiscing elit ut aliquam purus sit amet. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Cras adipiscing enim eu turpis egestas pretium aenean. Cursus sit amet dictum sit amet justo donec enim.</p>
      <p class="my-2 text-red-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere morbi leo urna molestie. Facilisis mauris sit amet massa vitae tortor condimentum. Et malesuada fames ac turpis egestas integer. Eget mauris pharetra et ultrices neque ornare aenean euismod.</p>

      <h1 id="manifiesto" class="text-3xl md:text-5xl font-semibold mt-20 mb-2 text-center">DECLARACIÓN DE PRINCIPIOS</h1>
      <h2 class="text-xl md:text-4xl font-extrabold mb-10 text-center">PARA LA GESTIÓN CULTURAL</h2>
      <p class="my-2">Re-definir los modos de hacer implica abrir espacios constructivos que habilitarían el tránsito entre lo agenciado tradicionalmente desde sus tareas específicas y lo que acontece, sucede, intuitivamente, azarosamente. Sucede el manifiesto de lo sensible.</p>
      <p class="my-2">Leer lo “manifiesto” a partir de los vínculos que dichos encuentros establecen en territorio, nos permite determinar indicadores que la gestión cultural expande, desde prácticas artísticas que traducen las nuevas formas de habitar.</p>
      <p class="my-2">Consideramos oportuno proponer el ejercicio de agremiar miradas transdisciplinares que  re-definan a la gestión cultural, desde el impacto que sus variables conforman, poniendo en valor el total de sus capacidades a la hora de acompañar y desarrollar residencias, en clave socio-comunitaria, situada, territorial.</p>
      <p class="my-2">Si se determinan indicadores culturales basados en categorías orientadas a una constelación residencia-contexto-experiencia, es posible generar un espacio que retome la gestión cultural desde su capacidad empática, en pos de potenciar el desarrollo de prácticas situadas que iluminen otros escenarios comprometidos con un buen vivir.</p>

      <h1 id="buenas-practicas" class="text-3xl md:text-5xl font-semibold mt-20 mb-2 text-center">BUENAS PRÁCTICAS</h1>
      <h2 class="text-xl md:text-4xl font-extrabold mb-10 text-center">DE UNA RESIDENCIA ARTÍSTICA</h2>
      <div class="text-left mb-12">
        <p class="my-2">El origen de lo que consideramos buenas prácticas dentro de las residencias artísticas nace de la recopilación de los aportes de cada uno de lxs directorxs pertenecientes a la <span class="font-bold">RED QUINCHO</span>. Este es un documento en proceso que se va nutriendo a partir de la integración de las perspectivas de diferentes gestorxs culturalxs.</p>
        <!-- <p class="my-2 mt-8 text-xl uppercase font-bold">Buenas prácticas de las residencias</p> -->

        <div class="grid divide-y divide-black mx-auto mt-8 rounded-lg">
          <div class="py-5">
            <details class="group">
              <summary class="flex justify-between items-center font-medium cursor-pointer list-none group-open:true">
                <span class="font-bold uppercase">1- En relación a los residentes que recibe</span>
                <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                  </svg>
                </span>
              </summary>
              <p class="mt-3 group-open:animate-fadeIn">- Acompañamiento a la producción / facilitación de procesos creativos</p>
              <p class="mt-3 group-open:animate-fadeIn">- Diseño de actividades que articulen con la comunidad artística y local</p>
              <p class="mt-3 group-open:animate-fadeIn">- Socialización de los resultados / producciones de la residencia</p>
              <p class="mt-3 group-open:animate-fadeIn">- Promover el sostenimiento del vínculo post-residencia</p>
            </details>
          </div>

          <div class="py-5">
            <details class="group">
              <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                <span class="font-bold uppercase">2- En relación con el equipo de trabajo</span>
                <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                  </svg>
                </span>
              </summary>
              <p class="mt-3 group-open:animate-fadeIn">- Sistematización</p>
              <p class="mt-3 group-open:animate-fadeIn">- Organización de roles</p>
              <p class="mt-3 group-open:animate-fadeIn">- Trabajo en equipo</p>
              <p class="mt-3 group-open:animate-fadeIn">- Apertura al diálogo</p>
              <p class="mt-3 group-open:animate-fadeIn">- Reuniones abiertas</p>
              <p class="mt-3 group-open:animate-fadeIn">- Empatía y predisposición</p>
              <p class="mt-3 group-open:animate-fadeIn">- Flexibilidad para resolver situaciones de gestión</p>
              <p class="mt-3 group-open:animate-fadeIn">- Claridad en el diseño de proyectos</p>
              <p class="mt-3 group-open:animate-fadeIn">- Registro y clasificación de actividades</p>
              <p class="mt-3 group-open:animate-fadeIn">- Honorarios para los actores involucrados</p>
            </details>
          </div>

          <div class="py-5">
            <details class="group">
              <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                <span class="font-bold uppercase">3- En relación a otras residencias</span>
                <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"     viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                  </svg>
                </span>
              </summary>
              <p class="mt-3 group-open:animate-fadeIn">- Articulación y diseño colaborativo entre pares</p>
              <p class="mt-3 group-open:animate-fadeIn">- Intercambio de experiencias</p>
              <p class="mt-3 group-open:animate-fadeIn">- Feedback positivo y negativo</p>
              <p class="mt-3 group-open:animate-fadeIn">- Referir artistas en base a perfiles específicos</p>
              <p class="mt-3 group-open:animate-fadeIn">- Asistencia a eventos organizados desde otras residencias</p>
            </details>
          </div>

          <div class="py-5">
            <details class="group">
              <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                <span class="font-bold uppercase">4- En relación a la comunidad</span>
                <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                  </svg>
                </span>
              </summary>
              <p class="mt-3 group-open:animate-fadeIn">- Promoción de charlas abiertas con artistas, curadores y/o equipo</p>
              <p class="mt-3 group-open:animate-fadeIn">- Desarrollo de talleres abiertos a la comunidad</p>
              <p class="mt-3 group-open:animate-fadeIn">- Trabajo con temáticas locales y puesta en valor de las prácticas comunitarias</p>
              <p class="mt-3 group-open:animate-fadeIn">- Apertura a nuevos públicos priorizando niñez y juventud</p>
              <p class="mt-3 group-open:animate-fadeIn">- Promover prácticas de cuidado del ambiente</p>
            </details>
          </div>
        </div>
    </div>
  </div>
</Layout>