---
import Logo from '../assets/logo.svg';
---

<header class="flex h-16 mb-10 place-content-between items-center font-semibold">
  <div class="mx-5 my-auto flex gap-3 items-center">
    <img src={Logo} class="w-10" alt="">
    <a href='/' class="p-2 hover:rounded-md hover:bg-black hover:text-white">
      <span class="font-extrabold">LIC </span>
      <span class="">- Laboratorio de Indicadores Culturales</span>
      </a>
  </div>
  <div class="mx-5 my-auto">
    <div class="">
      <a class="mx-5 p-2 rounded-md hover:bg-black hover:text-white" href="/categorias">Categorías</a>
      <a class="mx-5 p-2 rounded-md hover:bg-black hover:text-white" href="/instrucciones-de-uso">Instrucciones de uso</a>
      <a class="mx-5 p-2 rounded-md hover:bg-black hover:text-white" href="/formulario-residencias">Formulario Residencias</a>
      <a class="mx-5 p-2 rounded-md hover:bg-black hover:text-white" href="/formulario-residentes">Formulario Residentes</a>
      <!-- <a class="mx-5 hover:text-violet-600" href="/resultados">Resultados</a> -->
    </div>
  </div>
</header>